<div class="col-xs-12">
  <h1>{{gameTitle}}</h1>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Name of Game" ng-model="gameItem.name"/>
  </div>
  <div class="form-group">
    <label>Picture</label>
    <img src="">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="Game Description" ng-model="gameItem.description"/>
  </div>
  <button class="btn btn-default" ng-click="updateGameReview()">Submit</button>
</div>
