<div>
  <h1>Find A Game!</h1>
  <input type="text" placeholder="Search games..." ng-model="searchText.searchTerm">
  <button value="Fetch Games From API" ng-click="fetchGames()">Click me</button>
  <div class="gameCards">
    <ul ng-repeat="game in games">
      <li><h2>{{game.name}}</h2></li>
      <!-- <li ng-bind-html="game.description"></li> -->
      <li><img class="gameImage" src="{{game.image.medium_url}}"></li>
      <button ng-click="saveGameToUser(game)">Save</button>
    </ul>
    <br>
  </div>
</div>
