<div class="userDataPage">
  <h1 align="left">Checkout Your Games!</h1>
  <div ng-repeat="game in games">
    <div align="left" style="margin: auto; padding: 50px 100px 50px 100px;">
      <!-- game title -->
      <h3 style="margin-bottom: 20px; text-decoration: underline;">{{game.name}}</h3>
      <!-- toggle description -->
      <a style="margin-bottom: 10px; margin-top: 10px;" id="{{game.id}}" class="btn btn-default" ng-click="bananas = !bananas">Description</a>
      <div class="toggleDescription" ng-show="bananas" ng-hide="!bananas">
        <p ng-bind-html="game.description"></p>
      </div>
      <br>
      <!-- game image from API -->
      <img class="gameImage" ng-src="{{game.image.medium_url}}" height="450" width="400" style="margin-top: 20px; border: solid black 2px;">
      <br>
      <!-- display review button -->
      <a style="margin-top: 20px;" class="btn btn-default" ng-click="seeReview(game)">See Your Review!</a>
      <!-- edit review button -->
      <a style="margin-top: 20px; margin-left: 20px;" class="btn btn-default" ng-click="editGame(game)">Edit Your Review!</a>
      <!-- delete button -->
      <input style="margin-top: 20px; margin-left: 20px;" type="button" class="btn btn-default" ng-click="deleteUserGame(game.fbid)" value="Delete This Game">
    </div>
  </div>
</div>