<h1>Checkout Your Games!</h1>
<div ng-repeat="game in games">
  <div>
    <h3>{{game.name}}</h3>
    <a class="btn btn-default" ng-click="seeReview(game)">See Your Review!</a>
    <a class="btn btn-default" ng-click="editGame(game)">Edit Your Review!</a>
    <input type="button" class="btn btn-default" ng-click="deleteUserGame(game.fbid)" value="Delete This Game">
    <img class="gameImage" src="{{game.image.medium_url}}"><br>

    <button ng-click="toggle()">Description</button>
    <div class="toggleDescription" ng-show="state">
      <p ng-bind-html="game.description"></p>
    </div>

  </div>
</div>
